In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/project_gender_index.csv')

In [6]:
df.head()

   Unnamed: 0  project_id  gender_index
0           0    268931.0      0.166667
1           1    269007.0      0.142857
2           2    269105.0      0.166667
3           3    269145.0      0.083333
4           4    269237.0      0.000000

In [12]:
hist = np.histogram(df['gender_index'])

In [18]:
pd.DataFrame(hist).to_csv('../data/project_gender_index_hist.csv')

667